/* color variables */

:root {
  --primary-color: #357b70;
  --secondary-color: #330906;
  --tertiary-color: #f6c569;
  --fourth-color: #cf7f16;
  --link-color: #18b0e7;
  --button-color: #330906;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

/* button styling */

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--fourth-color);
  color: var(--button-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}
button:hover,
button:focus,
.button:hover,
.button:active {
  cursor: pointer;

  color: var(--button-color);
}
/* link styling */
a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:visited {
  color: var(--button-color);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: var(--link-color);
}
a:active {
  color: var(--secondary-color);
  text-decoration: none;
}
/* link styling end */
/* header styling */
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.3);
}

.page-header_item {
  flex: 0 1 200px;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* main section */

.profile__portrait {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 10% auto;
}

#profile-code-example {
  text-align: center;
  padding-top: 25px;
  clear: both;
}

#profile-span {
  font-family: "Silkscreen", cursive;

  font-size: 19px;
  color: rgb(182, 63, 166);

  animation-duration: 2s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me-section p {
  text-align: center;
}

.about-me-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me-table {
  text-align: center;
  margin: 10px 0;
}
.about-me-table th {
  padding: 0 85px;
}

#work-heading {
  text-align: center;
}
/* footer styling */

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-infos-container {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.get-in-touch-button {
  padding: 10px;
  background-color: var(--primary-color);
  color: #060606f6;
  border-radius: 5px;
}
.contact-form-container {
  text-align: center;
  padding: 8px;
  background-color: var(--fourth-color);
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgb(67, 65, 65);
}

.contact-form-container:hover {
  color: var(--button-color);
}

/* grid styling */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 10px;
}

.grid__item {
  background-color: var(--tertiary-color);
  padding: 35px;
}

#about-picture {
  margin: 0px 150px;
}

/* media queries */

@media all and (max-width: 375px) {
  .profile__portrait {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  #about-picture {
    margin: 0px 0px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  #about-picture {
    margin: 0px 20px;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  #about-picture {
    margin: 0px 50px;
  }

  h1 {
    font-size: 22px;
  }
  .about-me-table th {
    padding: 0 45px;
  }
}

/* animation */
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
